.img-container {
	display: inline-block;
	width: 140px;
	height: 140px;
	object-fit: fill;
	margin: 0px 5px;
	position: relative;
}
.img-container img {
	width: 100%;
	height: 100%;
}
.img-container .remove-img{
	position: absolute;
  right: 0px;
  background: #fff;
  cursor: pointer;
  border-radius: 25px;
}
.media img {
	width: 50px;
	height: 50px;
}
.nav .nav-item {
	
	margin-bottom: 5px;
}
.nav .nav-item i{
	position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.post-img-container {
	width: 100%;
	height: 200px;
}
.post-img {
	width: 100%;
	height: 100%;
	object-fit: fill;	
}
/*.card img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}*/
.card .card-header.card-header-image {
	height: 160px;
	z-index: 999;
}
.card .card-header.card-header-image img {
	height: 100%;
}